body {
    background: #fff;
    color: #666;
}

.container {
    height: 100vh;
    overflow: hidden;
}
.section-container {
    height: calc(100vh - 48px);
    overflow: scroll;
}

.section-body {
    font-family: "Inter",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 18px;
    margin: 0 60px;
    display: none;
    padding: 50px 0;
    background: #fff;
    min-height: -webkit-fill-available;
    text-align: justify;
}
.active-section {
    display: block;
    text-align: center;
}

.overview-container {
    display: flex;
}
.overview-box {
    box-shadow: 0px 2px 6px 3px grey;
    text-align: justify;
    height: fit-content;
    margin-right: 40px;
    flex: 2.9;
}
.overview-content {
    flex: 5.25;
    line-height: 1.8;
    text-align: justify;

}
.common-header {
    height: 48px !important;
    min-height: 48px !important;
    background: #333;
    border-bottom: 2px solid #11ABB0;
}
.sub-heading {
   color: #F06000;
    margin-left: 10px;
}
.icon {
    font-size: 24px;
}
.sub-heading-container {
    display: -webkit-inline-box;
    color: #F06000;
    margin-top: 10px;
}
.problem-statement {
    text-align: justify;
}
.overview-para {
    margin: 3px 0;
    text-indent: 50px;
}
.para-list {
    list-style: inside;
    margin-left: 50px;
}
b {
    color: #11ABB0;
    font-size: 18px;
}
.solution-bold {
    color: #666;
}

.quotes {
    width: 35%;
    padding: 20px 0;
}
.para-quotes {
    font-size: 18px;
}
.personal-quotes {
    padding-left: 29px;
    padding-right: 20px;
    margin: 18px 0px !important;
}
.aside-pull-quotes {
    padding: 10px 17px 10px 10px;
}

.inner-list {
    list-style: inside;
    list-style-type: lower-alpha;
}

.text-draft-container {
    position: relative;
}
.emc {
    position: absolute;
    top: 1211px;
}

.icon-mobile {
    font-size: 32px;
}
.para-head {
    text-align: center;
    font-size: 18px;
    color: #11ABB0;
    font-weight: bolder;
    margin-bottom: 0;
    font-family: 'librebaskerville-italic', serif;
}
.links-section {
    display: flex;
    justify-content: space-evenly;
}
.link-tag {
    /*padding: 10px;*/
}

svg {
    width: 20px;
    height: 20px;
}
.solution {
    width: 150px;
    height: 150px;
    fill: #11ABB0;
}
.heading {
    padding: 10px 0 30px;
    text-align: center;
    font-size: 50px;
}
.side-image {
    width: inherit;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin: 120px 0;
}
.link-msg {
   color: #F06000;
}
.overview {
    width: inherit;
}
table {
    margin: 0 auto;
}
th {
    padding: 20px 60px;
}
li {
    line-height: 1.8;
}
.hidden-answer {
    display: none;
    text-align: justify;
    margin: 0 40px;
}
.faq-question {
    margin: 0 15px;
    align-items: baseline;
    display: flex;
}
.ques-text {
    margin: 0 10px;
}
.faq-container {
    margin: 25px auto;
    width: 75%;
}
.expand {
    cursor: pointer;
}
.endorse {
    list-style: inside;
    margin-left: 50px;
    text-align: initial;
}
.endorse-msg {
    text-align: initial;
}
.endorse-li {
    line-height: 1;
}
.overview-accomplish {
    line-height: 2;
    padding: 0;
    text-align: justify;
}
.author-names {
    text-align: right;
    margin: 0 10px;
    font-size: 15px;
    line-height: 1.5;
}
.name {
    font-weight: bold;
    font-size: 18px;
}
.email-text {
    font-weight: normal;
}
.info-icon {
    width: 150px;
    height: 150px;
    color: #11ABB0;
}
.info-text {
    color: #11ABB0;
    font-size: 28px;
    margin: 8%;
    font-weight: bold;
}
.section_selector {
    margin: 0 10px !important;
}
.text-para {
    text-align: justify;
    text-align-last: center;
}
.pull-left    { float: left !important; }

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
img, ins, kbd, q, samp,
b, i, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
header {
    position: relative;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

/*nav-wrap */
#nav-wrap {
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}
/* Links */
ul#nav li a {
    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #fff;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.text-container {
    width: inherit;
}
.text-alignment {
    padding: 25px 120px 0;
}

ul#nav {
    min-height: 48px;
    width: auto;

    /* center align the menu */
    text-align: center;
}
ul#nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
}

.add-bottom { margin-bottom: 24px !important; }

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }
.draft-section {
    display: flex;
}
.image-section {
    flex: 1.3;
    padding-right: 20px;
}

.free-pick {
    font-size: 6px;
    float: right;
    line-height: 1;
    color: black !important;
}
.image-text-section {
    flex: 2;
}
.no-intent {
    text-indent: 0;
}


